<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nha tuyen dung</h1>
    <ul>
        <li><a href="/addemployer">Them nha tuyen dung</a></li>
        <li><a href="/employer">Danh sach nha tuyen dung</a></li>
    </ul>
    <h1>Nha tuyen dung</h1>
    <ul>
        <li><a href="/employer">Tao viec lam</a></li>
        <li><a href="/employer">Danh sach viec lam</a></li>
    </ul>
    <h1>Nha tuyen dung</h1>
        <ul>
            <li><a href="/employer">Them ung vien</a></li>
            <li><a href="/employer">Danh sach ung vien</a></li>
        </ul>
</body>
</html>