<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${e.name}"></title>
</head>
<body>
    
    <img th:src="${'/logo/'+ e.logo}" alt="logo" width="80px" height="80px">
    <p  th:text="'Name: '+${e.name}"></p>
    <a th:href="${e.web}"><p th:text="'Web: '+${e.web}"></p></a>
    <p th:text="'Email: '+${e.email}"></p>
    <!-- <a th:href="'employer/'+${job.emp_id}|" th:text="${job.employer}"></a> -->

</body>
</html>