<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employers</h1>
    <a href="employer/add">them nha tuyen dung</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Logo</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Web</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="e, iStat:${emp}">
           <th scope="row" th:text="${iStat.index} +1"></th> 
           <td><img th:src="${'/logo/'+ e.logo}" alt="logo" width="80px" height="80px"></td>
            <!-- <td> <a class="e" th:href="'employer/'+${e.id}|" th:text="${e.name}"></a></td>  -->
            <td> <a class="e" th:href="'employer/'+${e.id}"><span th:text="${e.name}"></span></a></td> 
            <td th:text="${e.email}"></td>
            <td> <a th:href="${e.web}" th:text="${e.web}"></a></td>
          </tr>     
        </tbody>
      </table>
</body>
</html>