<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nha tuyen dung</h1>
    <ul>
        <li><a href="#">Thêm nhà tuyển dụng</a></li>
        <li><a href="/employer">Danh sách nhà tuyển dụng</a></li>
    </ul>
    <h1>Viec lam</h1>
    <ul>
        <li><a href="/addjob">Tạo việc làm</a></li>
        <li><a href="/job">Danh sách việc làm</a></li>
    </ul>
    <h1>Ung vien</h1>
        <ul>
            <li><a href="/employer">Them ung vien</a></li>
            <li><a href="/employer">Danh sach ung vien</a></li>
        </ul>
</body>
</html>