<!DOCTYPE html>
<html lang="en">
    <head th:replace="template.html :: header('Home Page')"></head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
    <title>Home Music</title>
<head>
   
</head>
<body>
    <header class="menutop" th:insert="template.html :: topmenu" style="background-color: black;"> </header>

    <h1><a href="/song">Phát Ngẫu Nhiên</a></h1>

 
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/home.js}"></script>
    <header th:replace="template.html :: footer"> </header>
</body>

</html>